# Font files should be treated as binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.eot binary
# Other binary file types that might be relevant
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.JPG filter=lfs diff=lfs merge=lfs -text
