image: node:18.20.0

# Common setup for all jobs
default:
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - .yarn-cache/
  before_script:
    - echo 'yarn-offline-mirror ".yarn-cache/"' >> .yarnrc
    - echo 'yarn-offline-mirror-pruning true' >> .yarnrc
    - yarn install --frozen-lockfile

stages:
  - build

# CI build for merge requests (no deploy)
build_site:
  stage: build
  script:
    - yarn build
  artifacts:
    when: on_failure
    expire_in: 1 week
  rules:
    # Run when the pipeline is for a Merge Request
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    # Do not run on random branch pushes
    - if: '$CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH'
      when: never

# Actual Pages deploy (only from main/default branch)
pages:
  stage: build
  script:
    - yarn build
    - mkdir -p public
    - cp -a dist/. public/
    - echo '/* /index.html 200' > public/_redirects
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: always
